<div>
  <% form_for @person, :url => reset_password_commit_session_path(:code => @password_reset_coupon.code), :html => {:method => :put} do |f| %>
    <fieldset>
      <div class="legend">New Password:</div>
      
      <%= f.error_messages %>
      
      <p>
        <%= f.label :password_reset %>
        <%= f.password_field :password_reset %>
      </p>
      <p>      
        <%= f.label :password_reset_confirmation %>
        <%= f.password_field :password_reset_confirmation %>
      </p>
      <p>
        <%= submit_tag 'Reset password' %>
      </p>
    </fieldset>
  <% end %>
</div>