<div id="bid">
<h1>Bid name: <%= h @bid.name %></h1>
<div>
  By: <%= link_to_person @bid.person %>
</div>

<hr />

<div>
  <h2>Price Offered:</h2> 
  <p>US$ <%= number_to_currency @bid.price %> </h2>

  <hr />	
  
  <h2>Description of proposal/offer:</h2>
  <p><%= textilize @bid.brief %></p>
  <hr />
  <h3>Capabilities:</h3>
  <p>
    <%= textilize @bid.capabilities %>
  </p>
  <h3>Offered services:</h3>
  <p>
    <%= textilize @bid.offered_services %>
  </p>
  
  <h3>Warranties:</h3>
  <p>
    <%= textilize @bid.warranties %>
  </p>

  
</div>

<!--need to add code here so that the client can access any uploaded design/content as pert of offer - PDF only-->


<% if @bid.person == current_user || admin? %>
<div>
  <%= link_to 'Change bid', edit_project_bid_path(@project, @bid) %>
</div>
<% end %>

<% unless @bid.image_file_name.nil? %>
  <%= link_to "Download pdf", file_project_bid_url(@project, @bid)  %>
<% end %>
</div>