<% if admin? %>
<div class="adminside">
 <div class="admin_section">
   <p>Payment Status: <strong><%= @project.paid? ? "Paid" : "Unpaid" %></strong></p>
   <% if @project.paid? and @project.success_transaction %>
    <p>Amount: <strong><%= number_to_currency @project.success_transaction.amount_in_dollar %></strong></p>
    <p>Paid At: <strong><%= @project.success_transaction.created_at.to_s :long %></strong></p>
   <p>Transaction Number: <strong><%= @project.success_transaction.references["transaction_id"] %></strong></p>
   <p><%= link_to 'View all transactions', project_transactions_path(@project) %></p>
  <% end %>
  <%= link_to 'Admin', admin_project_path(@project) %>
 </div>
</div>
<% end %>
