<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Logosauce</title>
    <%= stylesheet_link_tag 'prototip' %>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'main' %>       
    <%= stylesheet_link_tag 'text' %>
    <%= stylesheet_link_tag 'wall' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'prototip' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    
    <script type="text/javascript">
  		jQuery.noConflict();
  	</script>
    

    <%= javascript_include_tag 'application' %>
    <%= yield :head %>

  </head>
  <body>
<div id="wrapper">
 	
 
 <div id="topouter">
  <div id="top">
      <div id="login">
         <%= link_to_toggle_help %>    
         <% if signed_in? %>
            <%= link_to t('session.sign_out'), session_path, :method => :delete %> 
            <em>Welcome back</em> <%=link_to current_user.nick_name, person_path(current_user), :class => 'welcome', :title => 'Click to view your profile page, where you can edit your details and upload additional logos' %>
          <% else %> 
            <%= link_to t('session.sign_up'), new_person_path %> <%= link_to t('session.sign_in'), new_session_path %> 
          <% end %>
      </div>
  </div>
  
 </div> 
  
    <div id="help_slide_down" style="display: none;">
      <div>
        <%= yield :help %>
        <p class="helpbuttons">
         <%= link_to 'I need more help. Take me to the Help Centre! ' + image_tag('help.png'), :controller => 'site', :action => 'help' %>
         <%= link_to_function 'Close Help ' + image_tag('arrow_up.png'), "Effect.BlindUp($(this).up('div#help_slide_down'))" %>
        </p>
      </div>
    </div>
    
    
    <div id="pageouter">
    <div id="page">
    
      <div id="message">
        <%= message %>
        </div>
   
    
      <div id="content">
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>
    
      <div id="footer">
       <div id="inner_footer">
        <div class="left">
        </div>

        <div class="right" style="margin-right:10px; font-size:0.8em;">
        <p>&copy; Logosauce&trade; and respective logo owners. All rights reserved.</p>
        </div>
        </div>
      </div>
    
    
    <!-- twitter follow badge by go2web20 -->
<!-- end of twitter follow badge -->
</div>
</body>
</html>
